# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [21]:
import pandas as pd
import numpy as np

In [34]:
p = np.random.rand(10)
data = {'國家': ['Taiwan', 'US', 'Thailand'] ,
        '人口': np.random.randint(10000,size=3) }
df = pd.DataFrame(data)

In [35]:
df

         國家    人口
0    Taiwan  9474
1        US    47
2  Thailand  4082

In [36]:
c = df['人口'].idxmax()
# type(c)
print(df.iloc[[c]])

       國家    人口
0  Taiwan  9474

In [37]:
df.set_index('國家').sort_values(by='人口').iloc[-1] #依順序排(小到大)，取最後一位(最大)

人口    9474
Name: Taiwan, dtype: int32