# 作業
- 新增一個欄位 `customized_age_grp`，把 `age` 分為 (0, 10], (10, 20], (20, 30], (30, 50], (50, 100] 這五組，
'(' 表示不包含, ']' 表示包含  
- Hints: 執行 ??pd.cut()，了解提供其中 bins 這個參數的使用方式

# [作業目標]
- 請同學試著查詢 pandas.cut 這個函數還有哪些參數, 藉由改動參數以達成目標
- 藉由查詢與改動參數的過程, 熟悉查詢函數的方法與理解參數性質, 並了解數值的離散化的調整工具

# [作業重點]
- 仿照 In[3], In[4] 的語法, 並設定 pd.cut 的參數以指定間距

### binning 分級
-  pd.cut()
-  pd.qcut()

In [2]:
# 載入套件
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# 初始設定 Ages 的資料
ages = pd.DataFrame({"age": [18,22,25,27,7,21,23,37,30,61,45,41,9,18,80,100]})

In [4]:
ages

    age
0    18
1    22
2    25
3    27
4     7
5    21
6    23
7    37
8    30
9    61
10   45
11   41
12    9
13   18
14   80
15  100

#### 等寬劃分

In [5]:
# 新增欄位 "equal_width_age", 對年齡做等寬劃分
ages["equal_width_age"] = pd.cut(ages["age"], 4, precision=0)  # precision=0 取到整數位
# 找出年齡的最大最小值，依據值距去分成四等份

In [9]:
# 觀察等寬劃分下, 每個種組距各出現幾次
ages["equal_width_age"].value_counts() # 每個 bin 的值的範圍大小都是一樣的

(7.0, 30.0]      10
(30.0, 54.0]      3
(77.0, 100.0]     2
(54.0, 77.0]      1
Name: equal_width_age, dtype: int64

#### 等頻劃分

In [10]:
# 新增欄位 "equal_freq_age", 對年齡做等頻劃分
ages["equal_freq_age"] = pd.qcut(ages["age"], 4, precision=0)  # precision=0 取到整數位
# 將年齡依據排序，依據總個數去分成四等份

In [13]:
# 觀察等頻劃分下, 每個種組距各出現幾次
ages["equal_freq_age"].value_counts() # 每個 bin 的資料筆數是一樣的

(42.0, 100.0]    4
(26.0, 42.0]     4
(20.0, 26.0]     4
(6.0, 20.0]      4
Name: equal_freq_age, dtype: int64

In [15]:
bins = [0,10,20,30,50,100]
ages["customized_age_grp"] = pd.cut(ages["age"], bins)  #新增一欄dataframe(一個Series):customized_age_grp

In [17]:
type(ages["customized_age_grp"] )
ages["customized_age_grp"]

0      (10, 20]
1      (20, 30]
2      (20, 30]
3      (20, 30]
4       (0, 10]
5      (20, 30]
6      (20, 30]
7      (30, 50]
8      (20, 30]
9     (50, 100]
10     (30, 50]
11     (30, 50]
12      (0, 10]
13     (10, 20]
14    (50, 100]
15    (50, 100]
Name: customized_age_grp, dtype: category
Categories (5, interval[int64]): [(0, 10] < (10, 20] < (20, 30] < (30, 50] < (50, 100]]

In [19]:
ages

    age equal_width_age equal_freq_age customized_age_grp
0    18     (7.0, 30.0]    (6.0, 20.0]           (10, 20]
1    22     (7.0, 30.0]   (20.0, 26.0]           (20, 30]
2    25     (7.0, 30.0]   (20.0, 26.0]           (20, 30]
3    27     (7.0, 30.0]   (26.0, 42.0]           (20, 30]
4     7     (7.0, 30.0]    (6.0, 20.0]            (0, 10]
5    21     (7.0, 30.0]   (20.0, 26.0]           (20, 30]
6    23     (7.0, 30.0]   (20.0, 26.0]           (20, 30]
7    37    (30.0, 54.0]   (26.0, 42.0]           (30, 50]
8    30     (7.0, 30.0]   (26.0, 42.0]           (20, 30]
9    61    (54.0, 77.0]  (42.0, 100.0]          (50, 100]
10   45    (30.0, 54.0]  (42.0, 100.0]           (30, 50]
11   41    (30.0, 54.0]   (26.0, 42.0]           (30, 50]
12    9     (7.0, 30.0]    (6.0, 20.0]            (0, 10]
13   18     (7.0, 30.0]    (6.0, 20.0]           (10, 20]
14   80   (77.0, 100.0]  (42.0, 100.0]          (50, 100]
15  100   (77.0, 100.0]  (42.0, 100.0]          (50, 100]

In [20]:
age_name = ["小小孩","小孩","學生","壯年","老年"]  #製作標籤 label
pd.cut(ages["age"], bins, labels=age_name)

0      小孩
1      學生
2      學生
3      學生
4     小小孩
5      學生
6      學生
7      壯年
8      學生
9      老年
10     壯年
11     壯年
12    小小孩
13     小孩
14     老年
15     老年
Name: age, dtype: category
Categories (5, object): [小小孩 < 小孩 < 學生 < 壯年 < 老年]

In [22]:
ages["age_name"] = pd.cut(ages["age"], bins, labels=age_name)
ages

    age equal_width_age equal_freq_age customized_age_grp age_name
0    18     (7.0, 30.0]    (6.0, 20.0]           (10, 20]       小孩
1    22     (7.0, 30.0]   (20.0, 26.0]           (20, 30]       學生
2    25     (7.0, 30.0]   (20.0, 26.0]           (20, 30]       學生
3    27     (7.0, 30.0]   (26.0, 42.0]           (20, 30]       學生
4     7     (7.0, 30.0]    (6.0, 20.0]            (0, 10]      小小孩
5    21     (7.0, 30.0]   (20.0, 26.0]           (20, 30]       學生
6    23     (7.0, 30.0]   (20.0, 26.0]           (20, 30]       學生
7    37    (30.0, 54.0]   (26.0, 42.0]           (30, 50]       壯年
8    30     (7.0, 30.0]   (26.0, 42.0]           (20, 30]       學生
9    61    (54.0, 77.0]  (42.0, 100.0]          (50, 100]       老年
10   45    (30.0, 54.0]  (42.0, 100.0]           (30, 50]       壯年
11   41    (30.0, 54.0]   (26.0, 42.0]           (30, 50]       壯年
12    9     (7.0, 30.0]    (6.0, 20.0]            (0, 10]      小小孩
13   18     (7.0, 30.0]    (6.0, 20.0]           (10, 20]       小孩
14   80   (77.0, 100.0]  (42.0, 100.0]          (50, 100]       老年
15  100   (77.0, 100.0]  (42.0, 100.0]          (50, 100]       老年